footer
  .footerContent
    .footerLogo
      h1 Prethviga homes
      p
        | A trusted name in construction since 1998. We specialize in residential, commercial, and industrial projects,
        |   delivering superior craftsmanship and innovative solutions that stand the test of time.
    .footerLinks
      h3 Quick link
      a(href="/home")
        span
          svg(
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 13 13" 
            height="13" 
            width="13"
            )
            path(
              stroke-linejoin="round" 
              stroke-linecap="round" 
              stroke-width="2" 
              stroke="#C1834E" 
              d="M4.5 2L9 6.5L4.5 11"
              )
        | Home
      a(href="/ProjectPage")
        span
          svg(
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 13 13" 
            height="13" 
            width="13"
            )
            path(
              stroke-linejoin="round" 
              stroke-linecap="round" 
              stroke-width="2" 
              stroke="#C1834E" 
              d="M4.5 2L9 6.5L4.5 11"
              )
        | Projects
      a(href="/discoverUs")
        span
          svg(
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 13 13" 
            height="13" 
            width="13"
            )
            path(
              stroke-linejoin="round" 
              stroke-linecap="round" 
              stroke-width="2" 
              stroke="#C1834E" 
              d="M4.5 2L9 6.5L4.5 11"
              )
        | Discover Us
    .footerIcons
      span
        svg(
          xmlns="http://www.w3.org/2000/svg" 
          fill="none" 
          viewBox="0 0 25 25" 
          height="25" 
          width="25"
          )
          path(
            fill="#C1834E" 
            d="M24.2188 12.1094C24.2188 5.41992 18.7988 0 12.1094 0C5.41992 0 0 5.41992 0 12.1094C0 18.1533 4.42822 23.1631 10.2173 24.0723V15.6099H7.14111V12.1094H10.2173V9.44141C10.2173 6.40674 12.0239 4.73047 14.791 4.73047C16.1162 4.73047 17.502 4.9668 17.502 4.9668V7.94531H15.9746C14.4707 7.94531 14.0015 8.87891 14.0015 9.83643V12.1094H17.3599L16.8228 15.6099H14.0015V24.0723C19.7905 23.1631 24.2188 18.1533 24.2188 12.1094Z"
            )
      span
        svg(
          xmlns="http://www.w3.org/2000/svg" 
          fill="none" 
          viewBox="0 0 24 17" 
          height="17" 
          width="24"
          )
          path(
            fill="#C1834E" 
            d="M23.2084 2.60777C22.9358 1.58129 22.1326 0.772873 21.1128 0.498524C19.2642 0 11.8519 0 11.8519 0C11.8519 0 4.43954 0 2.59097 0.498524C1.57114 0.772917 0.767925 1.58129 0.495312 2.60777C0 4.46832 0 8.35017 0 8.35017C0 8.35017 0 12.232 0.495312 14.0926C0.767925 15.1191 1.57114 15.8938 2.59097 16.1681C4.43954 16.6667 11.8519 16.6667 11.8519 16.6667C11.8519 16.6667 19.2642 16.6667 21.1128 16.1681C22.1326 15.8938 22.9358 15.1191 23.2084 14.0926C23.7037 12.232 23.7037 8.35017 23.7037 8.35017C23.7037 8.35017 23.7037 4.46832 23.2084 2.60777ZM9.4276 11.8746V4.82574L15.6229 8.35026L9.4276 11.8746Z"
            )
      span
        svg(
          xmlns="http://www.w3.org/2000/svg" 
          fill="none" 
          viewBox="0 0 22 22" 
          height="22" 
          width="22"
          )
          path(
            fill="#C1834E" 
            d="M10.946 5.33081C7.84058 5.33081 5.33569 7.83569 5.33569 10.9412C5.33569 14.0466 7.84058 16.5515 10.946 16.5515C14.0515 16.5515 16.5564 14.0466 16.5564 10.9412C16.5564 7.83569 14.0515 5.33081 10.946 5.33081ZM10.946 14.5886C8.93921 14.5886 7.29858 12.9529 7.29858 10.9412C7.29858 8.92944 8.93433 7.2937 10.946 7.2937C12.9578 7.2937 14.5935 8.92944 14.5935 10.9412C14.5935 12.9529 12.9529 14.5886 10.946 14.5886ZM18.0945 5.10132C18.0945 5.82886 17.5085 6.40991 16.7859 6.40991C16.0584 6.40991 15.4773 5.82397 15.4773 5.10132C15.4773 4.37866 16.0632 3.79272 16.7859 3.79272C17.5085 3.79272 18.0945 4.37866 18.0945 5.10132ZM21.8103 6.42944C21.7273 4.67651 21.3269 3.12378 20.0427 1.84448C18.7634 0.565185 17.2107 0.164795 15.4578 0.0769043C13.6511 -0.0256348 8.23608 -0.0256348 6.42944 0.0769043C4.6814 0.159912 3.12866 0.560303 1.84448 1.8396C0.560303 3.1189 0.164795 4.67163 0.0769043 6.42456C-0.0256348 8.2312 -0.0256348 13.6462 0.0769043 15.4529C0.159912 17.2058 0.560303 18.7585 1.84448 20.0378C3.12866 21.3171 4.67651 21.7175 6.42944 21.8054C8.23608 21.908 13.6511 21.908 15.4578 21.8054C17.2107 21.7224 18.7634 21.322 20.0427 20.0378C21.322 18.7585 21.7224 17.2058 21.8103 15.4529C21.9128 13.6462 21.9128 8.23608 21.8103 6.42944ZM19.4763 17.3914C19.0955 18.3484 18.3582 19.0857 17.3962 19.4714C15.9558 20.0427 12.5378 19.9109 10.946 19.9109C9.35425 19.9109 5.9314 20.0378 4.49585 19.4714C3.53882 19.0906 2.80151 18.3533 2.41577 17.3914C1.84448 15.9509 1.97632 12.533 1.97632 10.9412C1.97632 9.34937 1.84937 5.92651 2.41577 4.49097C2.79663 3.53394 3.53394 2.79663 4.49585 2.41089C5.93628 1.8396 9.35425 1.97144 10.946 1.97144C12.5378 1.97144 15.9607 1.84448 17.3962 2.41089C18.3533 2.79175 19.0906 3.52905 19.4763 4.49097C20.0476 5.9314 19.9158 9.34937 19.9158 10.9412C19.9158 12.533 20.0476 15.9558 19.4763 17.3914Z"
            )
  .footerDivider
  .copyrights
    p © 2025 All rights reserved
    p Privacy Policy
    p terms of Service
button#scrollToTopBtn
  svg(
    xmlns="http://www.w3.org/2000/svg" 
    fill="none" 
    viewBox="0 0 32 32" 
    height="32" 
    width="32"
    )
    path(
      stroke-linejoin="round" 
      stroke-linecap="round" 
      stroke-width="1.75" 
      stroke="black" 
      d="M16 7V25.6667M16 7L24 15M16 7L8 15"
      )
.whatsapp-link
  a(href="#")
    svg(
      xmlns="http://www.w3.org/2000/svg" 
      fill="none" 
      viewBox="0 0 53 55" 
      height="55" 
      width="53"
      )
      path(
        fill="#BFC8D0" 
        d="M26.25 54.375C40.7475 54.375 52.5 42.6225 52.5 28.125C52.5 13.6275 40.7475 1.875 26.25 1.875C11.7525 1.875 0 13.6275 0 28.125C0 32.8329 1.23938 37.2514 3.40963 41.0719L0 54.375L13.7154 51.1946C17.4401 53.2226 21.7104 54.375 26.25 54.375ZM26.25 50.3366C38.5172 50.3366 48.4616 40.3922 48.4616 28.125C48.4616 15.858 38.5172 5.91347 26.25 5.91347C13.9829 5.91347 4.03847 15.858 4.03847 28.125C4.03847 32.8614 5.52094 37.2516 8.0472 40.8566L6.05769 48.3172L13.6499 46.4192C17.2301 48.8899 21.5711 50.3366 26.25 50.3366Z" 
        clip-rule="evenodd" 
        fill-rule="evenodd"
        )
      path(
        fill="url(#paint0_linear_481_1276)" 
        d="M48.75 26.25C48.75 38.6764 38.6764 48.75 26.25 48.75C21.5104 48.75 17.1129 47.2845 13.4862 44.7819L5.79546 46.7046L7.8108 39.147C5.25172 35.4951 3.75 31.0479 3.75 26.25C3.75 13.8236 13.8236 3.75 26.25 3.75C38.6764 3.75 48.75 13.8236 48.75 26.25Z"
        )
      path(
        fill="white" 
        d="M26.25 52.5C40.7475 52.5 52.5 40.7475 52.5 26.25C52.5 11.7525 40.7475 0 26.25 0C11.7525 0 0 11.7525 0 26.25C0 30.9579 1.23938 35.3764 3.40963 39.1969L0 52.5L13.7154 49.3196C17.4401 51.3476 21.7104 52.5 26.25 52.5ZM26.25 48.4616C38.5172 48.4616 48.4616 38.5172 48.4616 26.25C48.4616 13.9829 38.5172 4.03847 26.25 4.03847C13.9829 4.03847 4.03847 13.9829 4.03847 26.25C4.03847 30.9864 5.52094 35.3766 8.0472 38.9816L6.05769 46.4422L13.6499 44.5442C17.2301 47.0149 21.5711 48.4616 26.25 48.4616Z" 
        clip-rule="evenodd" 
        fill-rule="evenodd"
        )
      path(
        fill="white" 
        d="M19.6875 14.0623C19.0635 12.8087 18.1059 12.9197 17.1388 12.9197C15.4103 12.9197 12.7148 14.9902 12.7148 18.8438C12.7148 22.0018 14.1065 25.4587 18.7957 30.6302C23.3212 35.6211 29.2676 38.2027 34.2041 38.1148C39.1406 38.0271 40.1563 33.7789 40.1563 32.3443C40.1563 31.7085 39.7616 31.3912 39.4899 31.305C37.8077 30.4976 34.7049 28.9933 33.999 28.7108C33.2931 28.4282 32.9244 28.8105 32.6953 29.0184C32.0552 29.6284 30.7862 31.4265 30.3516 31.8309C29.9171 32.2354 29.2693 32.0306 28.9997 31.8778C28.0076 31.4797 25.3179 30.2833 23.1741 28.2049C20.5224 25.6346 20.3668 24.7502 19.8673 23.9631C19.4677 23.3333 19.761 22.947 19.9072 22.7781C20.4786 22.119 21.2674 21.1012 21.6212 20.5956C21.9748 20.0897 21.6941 19.3219 21.5256 18.8438C20.8009 16.7869 20.1868 15.0651 19.6875 14.0623Z"
        )
      defs
        lineargradient(
          gradientUnits="userSpaceOnUse" 
          y2="52.5954" 
          x2="-1.60365" 
          y1="6.79687" 
          x1="49.2187" 
          id="paint0_linear_481_1276"
          )
          stop(stop-color="#5BD066")
          stop(
            stop-color="#27B43E" 
            offset="1"
            )