header.navbarContainer
  .navbarLogo
    p.logoText
      span.textFirst Prethviga
      span.textSecondary homes
  .actionArea
    .pages
      ul.pagesList
        li.pageLink
          a.active(href="/home") Home
        li.pageLink
          a(href="/ProjectPage") Projects
        li.pageLink
          a(href="/discoverUs") Discover Us
    a(href="#contact-section")
      button.contactButton
        span
          svg(
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 19 19" 
            height="19" 
            width="19"
            )
            path(
              stroke-linejoin="round" 
              stroke-linecap="round" 
              stroke-width="1.66667" 
              stroke="white" 
              d="M10.6934 12.9733C10.8655 13.0524 11.0594 13.0704 11.2431 13.0245C11.4269 12.9786 11.5895 12.8715 11.7042 12.7208L12 12.3333C12.1553 12.1263 12.3566 11.9583 12.588 11.8426C12.8194 11.7269 13.0746 11.6666 13.3334 11.6666H15.8334C16.2754 11.6666 16.6993 11.8422 17.0119 12.1548C17.3244 12.4674 17.5 12.8913 17.5 13.3333V15.8333C17.5 16.2753 17.3244 16.6993 17.0119 17.0118C16.6993 17.3244 16.2754 17.5 15.8334 17.5C11.8551 17.5 8.03982 15.9196 5.22677 13.1066C2.41373 10.2935 0.833374 6.47823 0.833374 2.49998C0.833374 2.05795 1.00897 1.63403 1.32153 1.32147C1.63409 1.00891 2.05801 0.833313 2.50004 0.833313H5.00004C5.44207 0.833313 5.86599 1.00891 6.17855 1.32147C6.49111 1.63403 6.66671 2.05795 6.66671 2.49998V4.99998C6.66671 5.25872 6.60647 5.51391 6.49075 5.74534C6.37504 5.97676 6.20703 6.17807 6.00004 6.33331L5.61004 6.62581C5.45705 6.74263 5.34922 6.9088 5.30487 7.0961C5.26051 7.28341 5.28236 7.48029 5.36671 7.65331C6.50561 9.96653 8.37873 11.8373 10.6934 12.9733Z"
              )
        | Contact us
    a(href="#contact-section")
      button.callBtn
        span
          svg(
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 19 19" 
            height="19" 
            width="19"
            )
            path(
              stroke-linejoin="round" 
              stroke-linecap="round" 
              stroke-width="1.66667" 
              stroke="white" 
              d="M10.6934 12.9733C10.8655 13.0524 11.0594 13.0704 11.2431 13.0245C11.4269 12.9786 11.5895 12.8715 11.7042 12.7208L12 12.3333C12.1553 12.1263 12.3566 11.9583 12.588 11.8426C12.8194 11.7269 13.0746 11.6666 13.3334 11.6666H15.8334C16.2754 11.6666 16.6993 11.8422 17.0119 12.1548C17.3244 12.4674 17.5 12.8913 17.5 13.3333V15.8333C17.5 16.2753 17.3244 16.6993 17.0119 17.0118C16.6993 17.3244 16.2754 17.5 15.8334 17.5C11.8551 17.5 8.03982 15.9196 5.22677 13.1066C2.41373 10.2935 0.833374 6.47823 0.833374 2.49998C0.833374 2.05795 1.00897 1.63403 1.32153 1.32147C1.63409 1.00891 2.05801 0.833313 2.50004 0.833313H5.00004C5.44207 0.833313 5.86599 1.00891 6.17855 1.32147C6.49111 1.63403 6.66671 2.05795 6.66671 2.49998V4.99998C6.66671 5.25872 6.60647 5.51391 6.49075 5.74534C6.37504 5.97676 6.20703 6.17807 6.00004 6.33331L5.61004 6.62581C5.45705 6.74263 5.34922 6.9088 5.30487 7.0961C5.26051 7.28341 5.28236 7.48029 5.36671 7.65331C6.50561 9.96653 8.37873 11.8373 10.6934 12.9733Z"
              )
  button.menuIcon
    svg(
      xmlns="http://www.w3.org/2000/svg" 
      fill="none" 
      viewBox="0 0 18 14" 
      height="14" 
      width="18"
      )
      path(
        stroke-linejoin="round" 
        stroke-linecap="round" 
        stroke-width="1.5" 
        stroke="#C1834E" 
        d="M16.75 0.75H0.75M13.75 6.75H0.75M10.75 12.75H0.75"
        )
  .actionAreaMobile
    .pages
      .closeIcon
        svg(
          xmlns="http://www.w3.org/2000/svg" 
          fill="none" 
          viewBox="0 0 24 24" 
          height="24" 
          width="24"
          )
          path(
            stroke-linejoin="round" 
            stroke-linecap="round" 
            stroke-width="2" 
            stroke="white" 
            d="M18 6L6 18M6 6L18 18"
            )
      ul.pagesList
        li.pageLink
          a.activePageMobile(href="/home") Home
        li.pageLink
          a(href="/ProjectPage") Projects
        li.pageLink
          a(href="/discoverUs") Discover Us
        li.pageLink
          a.contactLink(href="#contact-section") Contact us